{% extends "AppCoder/padre.html" %}

{% load static %}
{% block titulo %}

<h1 class="mb-0">Nuestros Animales en adopcion</h1>
{% endblock %}
{% block contenidoQueCambia %}
<p></p>
<p></p>buenas soy un participante de CoderHouse
<p></p>no soy programador web .solo programo en pl/sql hace años y queria interiorizarme en tecnologia Python y aprendi mas Django
<p></p>la verdad que mi equipo abandono porque aparecio poco y nada.
<p></p>
<p></p>asi que hice el trabajo solo 
<p></p>
<p></p>espero que les guste ,aunque tuve muchos problemas tanto como con Django como con el Git que me quitaron el tiempo de programacion.pero pese a todo  pude armar esto
<p></p>
<p></p>el profesor y los tutores de 10
<p></p>Saludos 
{% endblock %}