{% extends "AppCoder/padre.html" %}

{% load static %}
{% block titulo %}

<h1 class="mb-0">Ayuda para la paguina </h1>
{% endblock %}
{% block contenidoQueCambia %}
<h3><p>
    ayuda de la paguina la estructura y formato
</p>
</h3>
<p><h4>comenzando</h4></p>
<p></p>
<p></p>
inicialamente no se te dejara ver ningun tipo de contenido a menos que te registres o logees 
<p></p>
<p>una vez logeado </p>
se puede ir a inicio para hacer una busqueda puntual sobre los diferentes CLIENTES ,DOCTORES o ANIMALES
Y OPRIMIR EL BOTON BUSCAR

Y SE VERAN LOS DATOS RELACIONADOS 

<P></P><P></P>
<br>
Por otro lado se pueden editar los datos medieante el BOTON referido al tipo que quisiera modificar
aparecera en la pantalla inicialmente todos los datos de la base respecto al boton seleccionado

se puede oprimir eliminar o editar por cada registro mostrado

y hay un boton para agregar mas 

que llevara a otra pantalla 
en la cual se agregaran los datos y se accede al boton enviar que guardara la informacion ingresada
<br>
{% endblock %}