{% extends "AppCoder/padre.html" %}

{% load static %}
{% block titulo %}

<h1 class="mb-0">Nuestros Clientes </h1>
{% endblock %}
{% block contenidoQueCambia %}

    <h3>Podes buscar un Cliente:</h3>

    <form action="/AppCoder/buscarClientes/" method="GET">

        <input type="nombre" name="nombre" id="nombre">

        <input type="submit" value="Buscar">




    </form>

    {% if clientes %}

    <p>Estamos buscando el: {{clientes}}</p>

    <ul>
	{% for cliente in clientes %}
        cliente
		<li> nombre: {{cliente.nombre}} </li>
		<li> apellido: {{cliente.apellido}} </li>
		<li> direccion:{{cliente.direccion}} </li>
	{% endfor %}

    </ul>

    {% endif %}

{% endblock %}