<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente Detalle</title>
</head>
<body>


   
    <p>Nombre del Cliente: <i>{{ cliente.nombre }}</i></p>
    <p>Apellido: <i>{{ cliente.apellido }}</i></p>
    <p>Direccion: <i>{{ cliente.direccion }}</i></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>

    
</body>
</html>