{% extends "AppCoder/padre.html" %}

{% load static %}
{% block titulo %}

<h1 class="mb-2">Bienvenido {{mensaje}} a Veterinaria online </h1>
    {% if request.user.is.authenticated %}
    <div>
        <img height="50px" src="{{avatar}}" alt="">
    </div>
    {%endif %}
{% endblock %}
{% block contenidoQueCambia %}
 


  <table>
    <td>
    <h1 class="mb-8">clientes </h1>

     <form action="/AppCoder/buscarClientes/" method="GET">

        <input type="nombre" name="nombre" id="nombre">

        <input type="submit" value="Buscar">

    </form>
    </td>
    <td>
    <h1 class="mb-8">doctores </h1>

    <form action="/AppCoder/buscarDoctores/" method="GET">

        <input type="nombre" name="nombre" id="nombre">

        <input type="submit" value="Buscar">

    </form>
    </td>
    <td>
    <h1 class="mb-8">animales </h1>

    <form action="/AppCoder/buscarAnimales/" method="GET">
   
           <input type="nombre" name="nombre" id="nombre">
   
           <input type="submit" value="Buscar">
    </form>
    </td>
   </table>
<p></p>
<p></p>
{% endblock %}