{% extends "AppCoder/padre.html" %}

{% load static %}
{% block titulo %}

<h1 class="mb-2">Bienvenido a Veterinaria online </h1>
{% endblock %}

{% block contenidoQueCambia %}

  
    <h1 class="mb-8">buscar clientes </h1>

     <form action="/AppCoder/buscarClientes/" method="GET">

        <input type="nombre" name="nombre" id="nombre">

        <input type="submit" value="Buscar">

    </form>


    <h1 class="mb-8">buscar doctores </h1>

    <form action="/AppCoder/buscarDoctores/" method="GET">

        <input type="nombre" name="nombre" id="nombre">

        <input type="submit" value="Buscar">

    </form>

    <h1 class="mb-8">buscar animales </h1>

    <form action="/AppCoder/buscarAnimales/" method="GET">
   
           <input type="nombre" name="nombre" id="nombre">
   
           <input type="submit" value="Buscar">
    </form>
   

{% endblock %}