{% extends "AppCoder/padre.html" %}

    {% load static %}
    <title>Leo los Doctores</title>
    {% block titulo %}

    <h1 class="mb-0">Nuestros Doctores </h1>
    {% endblock %}
    {% block contenidoQueCambia %}
</head>
<body>


    {% for p in doctores %}

        <li>{{p}}</li>  
        <button>
            <a href="{% url 'EliminarDoctor' p.nombre %}"> Eliminar</a>
        </button>
        <button>
            <a href="{% url 'EditarDoctor' p.nombre %}"> Editar</a>
        </button>



    {% endfor %}

    <br>
    <button>
    <a href="doctores_agregar">Agregar otro doctor</a>
</button>
    
{% endblock %}