{% extends "AppCoder/padre.html" %}

    {% load static %}
    <title>Leo los animales</title>
    {% block titulo %}

    <h1 class="mb-0">Nuestros Animales en adopcion </h1>
    {% endblock %}

    {% block contenidoQueCambia %}

    {% for p in animales %}

        <li>{{p}}</li>  
        <button>
            <a href="{% url 'EliminarAnimal' p.nombre %}"> Eliminar</a>
        </button>
        <button>
            <a href="{% url 'EditarAnimal' p.nombre %}"> Editar</a>
        </button>



    {% endfor %}

    <br>
    <button>
    <a href="animales_agregar">Agregar otro Animal</a>
    </button>
    
{% endblock %}